
.about-us {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-us h1,
.about-us h2 {
  color: #2e2a22;
}

.about-us p,
.about-us ul {
  color: #262b32;
  line-height: 1.6;
}

.about-us ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-us a {
  color: #080a0b;
  text-decoration: none;
}

.about-us a:hover {
  text-decoration: underline;
}

.why-choose-us {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.reason {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reason img {
  max-width: 100%;
  height: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.reason p {
  color: #101419;
  line-height: 1.4;
}
