*::before{
    margin: 0%;
    box-sizing: border-box;

}
html{
    font-size: 62%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(246, 245, 245);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 9vh;
    background-color: rgb(10, 10, 10);
}
.logo button ul{
    text-decoration: uppercase;
    font-weight: bold;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.login{
    font-weight: bold;
}
.nav_toggle div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4 ease-in-out;
}
.nav_toggle{
    cursor: pointer;
    display: none;
}
@media screen and (max-width:760px) {
    .nav_toggle{
        display: block;
    }
    .nav_menu{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 90vh;
        background-color: black;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}
.nav_active{
    transform: translateX(0);

}
.toggle.line1{
transform: rotate(-45deg)translate(-4px,-5px);
}
.toggle.line2{
    opacity: 0;
}
.toggle.line3{
transform: rotate(45deg)translate(-4px,-5px);

}
.searchs{
    border-radius: 30px;
    height: 2.8rem;
border-top-color:2px solid rgb(244, 237, 237);
border-bottom-color:2px solid rgb(244, 237, 237);
}
