
.question-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #252323;
    border-radius: 5px;
    background-color: #3f3c3c;
}

.question-text {
    font-family: 'Arial', sans-serif;
    color: #ece5e5;
    margin-bottom: 10px;
    font-size: 18px;
}

.options-container {
    margin-left: 15px;
}

.option-item {
    margin-bottom: 10px;
}

.option-label {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #ede6e6;
    cursor: pointer;
}

.option-input {
    margin-right: 10px;
    cursor: pointer;
}

.option-input:checked + label {
    font-weight: bold;
    color: #4CAF50;
}

.option-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
